/*--------------------------------------*/
/* CSS Created by Penny Arcade - 2010 --*/
/* www.penny-arcade.com ----------------*/
/*--------------------------------------*/

/*---------------------*/
/* General ------------*/
/*---------------------*/
* {margin: 0;padding: 0;}
body {
	background: #16171b url(../img/bg_body.png) top left repeat-x;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #fff;
}
hr {display: none;}
img, fieldset {border: none;}
a:link, a:visited {color: #2dd0ed;}
a:hover, a:active {color: #c00;}
#container {
	width: 1280px;
	height: 720px;
}
/*---------------------*/
/* Header -------------*/
/*---------------------*/
#header {
	background: url(../img/bg_header.jpg) top left no-repeat;
	display: block;
	text-indent: -999em;
	overflow: hidden;
	width: 601px;
	height: 197px;
}
/*---------------------*/
/* Main ---------------*/
/*---------------------*/
#left {
	width: 600px;
	margin: 0 0 0 20px;
	float: left;
	display: inline;
}
#right {
	background: url(../img/bg_grey.png) top left repeat;
	padding: 20px;
	width: 600px;
	float: right;
	display: inline;
}
#main {
	background: #67030e url(../img/bg_content.png) top left repeat-x;
	width: 600px;
}
#lineTweets li p,
#officialTweets li p {
	font-size: 22px;
	line-height: 28px;
	color: #fff;
	margin: 0 0 10px 0;	
}
/*---------------------*/
/* Line Tweets --------*/
/*---------------------*/
h2 {
	font-size: 26px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}
#lineTweets {
	background: url(../img/bg_footer.png) bottom left no-repeat;
	width: 560px;
	padding: 25px 20px 50px 20px;
}
#lineTweets p {
	font-size: 18px;
	line-height: 24px;
	color: #ffdfe0;
}
#paxLines {
	margin: 15px 0 0 0;
}
.tweets li {
	background: url(../img/icon_twt.png) 0 20px no-repeat;
	padding: 15px 0 20px 50px;
	list-style: none;
	list-style-position: outside;
	border-top: 1px solid #4c030b;
}
.time {
	background: #4c030b;
	font-weight: bold;
	color: #c00;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 7px 7px 5px 7px;
}
/*---------------------*/
/* Official Tweets ----*/
/*---------------------*/
#officialPax,
#paxTourney {
	margin: 15px 0 0 0;
}
#officialTweets p {
	font-size: 18px;
	line-height: 24px;
	color: #8d8d8d;
}
#officialTweets li {
	border-top: 1px solid #242424;
}
#txtOfficial {
	background: url(../img/txt_official_pax.png) top left no-repeat;
	display: block;
	text-indent: -999em;
	overflow: hidden;
	width: 216px;
	height: 30px;
	margin: 10px 0 10px 0;
}
#officialTweets .time {
	background: #242424;
}